.box-class {
	height: 120px;
}

.box-class > div > h2 {
	padding-right: 20px;
}

.bg-auth {
	background-color: #ececec !important;
}

.left-btn-dashboard {
	margin-left: 14px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.prefix-a, .prefix-k, .prefix-t {
	color: #fed330 !important;
}

.prefix-b, .prefix-l, .prefix-u {
	color: #576574 !important;
}

.prefix-c, .prefix-m, .prefix-v {
	color: #54a0ff !important;
}

.prefix-d, .prefix-n, .prefix-w {
	color: #1dd1a1 !important;
}

.prefix-e, .prefix-o, .prefix-x {
	color: #341f97 !important;
}

.prefix-f, .prefix-p, .prefix-y {
	color: #f368e0 !important;
}

.prefix-g, .prefix-q, .prefix-z {
	color: #fd9644 !important; 
}

.prefix-h, .prefix-r {
	color: #a55eea !important;
}

.prefix-i, .prefix-s {
	color: #3d3d3d !important;
}

.prefix-j {
	color: #f53b57 !important;
}


