<template>
    <div>
        <div v-show="displayError" class="alert alert-danger">
            NIP tidak valid.
        </div>
        <div class="form-group">
            <label>NIP</label>
            <input type="text" class="form-control" placeholder="NIP" v-model="nip" @keyup="findNip">
            <ul v-show="nip && suggest" class="mt-2">
                <li style="color: red; cursor: pointer;" v-for="lecturer in matched" :key="lecturer.nip" @click="picked(lecturer.nip)">
                    NIP: {{ lecturer.nip }} - Nama: {{ lecturer.name }}
                    <hr>
                    <input type="hidden" v-model="name = lecturer.name">
                    <input type="hidden" v-model="email = lecturer.email">
                </li>
            </ul>                      
        </div>
        
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Nama" v-model="name" disabled>
        </div>

        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Email" v-model="email" disabled>
        </div>
        
        <div class="form-group">
            <label>Jenis Kelamin</label>
            <select class="form-control" name="gender" v-model="gender">
                <option value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
            </select>                     
        </div>
        
        <button @click="save" class="btn btn-primary">Simpan</button>
    </div>
</template>

<script>
export default {
    props: ['token'],
    data () {
        return {
            lecturers: [],
            nip: '',
            name: '',
            email: '',
            gender: 'Laki-laki',
            suggest: true,
            displayError: false,
        }
    },
    methods: {
        findNip: _.debounce(function () {
            this.lecturers = [];
            this.suggest = true;

            axios.get('http://localhost:8080/idlearn/webresources/api.dosen',
                {
                    headers: {
                        'Accept': 'application/xml',
                        'Content-Type': 'application/xml'
                    }
                })
                .then(res => {
                    let resXml = StringToXMLDom(res.data);
                    let resJson = xmlToJson(resXml);

                    resJson.dosens.dosen.forEach((item, index) => {
                        this.lecturers.push({
                            nip: item.nip['#text'],
                            name: item.name['#text'],
                            email: item.email['#text'],
                            placeOfBirth: item.placeOfBirth['#text'],
                            birthday: item.birthday['#text'].substring(0, 10),
                            address: item.address['#text'],
                            phone: item.phone['#text']
                        });
                    });
                })
                .catch(err => {
                    console.log(err);
                });          
        }, 500),

        picked: function (value) {
            this.nip = value;
            this.suggest = false;
        },

        save: function () {
            if (this.nip !== '' && this.nip.length === 18) {
                this.displayError = false;
                let data = {
                    nip: this.nip,
                    name: this.name,
                    email: this.email,
                    gender: this.gender,
                };

                axios.post('/a/tambah-dosen', data, {
                    headers: { Authorization: 'Bearer ' + this.token }
                })
                .then(res => {
                    swal('OK!', `${res.data.message}`, 'success');
                })
                .catch(err => {
                    console.log(err);
                });

            } else {
                this.displayError = true;
            }
        }
    },
    computed: {
        matched: function () {
            return this.lecturers.filter((item) => {
                return item.nip.match(this.nip)
            });
        }
    }
}
</script>

<style>

</style>
