<template>
    <div>
        <div v-if="start == true">
            <h5>Nomor {{ numbers }}</h5>
            <div class="form-group">
                <h5>{{ item.text }}</h5>
            </div>
            <div class="form-group">
                <h5>a. {{ item.choice_a }}</h5>
            </div>
            <div class="form-group">
                <h5>b. {{ item.choice_b }}</h5>
            </div>
            <div class="form-group">
                <h5>c. {{ item.choice_c }}</h5>
            </div>
            <div class="form-group">
                <h5>d. {{ item.choice_d }}</h5>
            </div>
            <div class="form-group">
                <label>Pilih Jawaban</label>
                <br>
                <div class="form-check form-check-inline">
                    <input @click="setAnswer('a')" name="answer" class="form-check-input" type="radio" :checked="this.item.answer == 'a'">
                    <label class="form-check-label">A</label>
                </div>
                <div class="form-check form-check-inline">
                    <input @click="setAnswer('b')" name="answer" class="form-check-input" type="radio" :checked="this.item.answer == 'b'">
                    <label class="form-check-label">B</label>
                </div>
                <div class="form-check form-check-inline">
                    <input @click="setAnswer('c')" name="answer" class="form-check-input" type="radio" :checked="this.item.answer == 'c'">
                    <label class="form-check-label">C</label>
                </div>
                <div class="form-check form-check-inline">
                    <input @click="setAnswer('d')" name="answer" class="form-check-input" type="radio" :checked="this.item.answer == 'd'">
                    <label class="form-check-label">D</label>
                </div>

                <div class="form-group">
                    <br>
                    <button @click="next" class="btn btn-success">
                        <i class="fa fa-arrow-right"></i> selanjutnya
                    </button>
                </div>
            </div>
        </div>
        <button v-else class="btn btn-primary" @click="start = true">
            Mulai Mengerjakan
        </button>
    </div>
</template>

<script>
export default {
    props: ['token', 'class_key', 'lecture_id'],
    data () {
        return {
            start: false,
            max: 0,
            current: 0,
            score: 0,
            questions: [],
            item: {
                text: '',
                choice_a: '',
                choice_b: '',
                choice_c: '',
                choice_d: '',
                key: '',
                answer: ''
            }
        }
    },
    created () {
        axios.get(`/u/soal/multiple/${this.class_key}/${this.lecture_id}`, {
                    headers: { Authorization: 'Bearer ' + this.token }
                })
                .then(response => {
                    console.log(response.data);
                    this.questions.push(...response.data);
                    this.max = this.questions.length-1;

                    this.loadQuestion(0);
                })
                .catch(error => {
                    console.log(error);
                });
    },
    methods: {
        loadQuestion (index) {
            if (this.current > this.max) {
                this.calculateScore();
            } else {
                this.item.text = this.questions[index].question;
                this.item.choice_a = this.questions[index].choice_a;
                this.item.choice_b = this.questions[index].choice_b;
                this.item.choice_c = this.questions[index].choice_c;
                this.item.choice_d = this.questions[index].choice_d;
                this.item.key = this.questions[index].key;
                this.item.answer = '';
            }
        },

        next () {
            if (this.item.key === this.item.answer) {
                this.score += 1;
            }

            this.current += 1;
            this.item.answer = '';
            this.loadQuestion(this.current);
        },

        setAnswer (answer) {
            this.item.answer = answer;
        },

        calculateScore () {
            let finalScore = (100 / (this.max + 1)) * this.score;
            let data = {
                class_key: this.class_key,
                lecture_id: this.lecture_id,
                score: Math.floor(finalScore)
            };

            axios.post('/u/soal/submit-answers-multiple', data, {
                headers: {
                    Authorization: 'Bearer ' + this.token
                }
            })
                .then(res => {
                    console.log(res);
                    swal('Ok!', 'Skor kamu ' + Math.floor(finalScore), 'success');
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },
    computed: {
        numbers () {
            return this.current + 1;
        }
    }
}
</script>

<style>

</style>
