<template>
    <div>
        <div v-if="questionView === ''" class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card" style="margin-top:60px;padding: 40px 30px">
                        <div class="form-group">
                            <label>Pilih Materi</label>
                            <select v-model="selectedLecture" name="materi" class="form-control">
                                <option v-for="lecture in lectures" :key="lecture.id" :value="lecture.id">{{ lecture.title }}</option>
                            </select> 
                        </div>
                        <button @click="questionView = 'multipleQuestion'" class="btn btn-primary btn-lg" style="margin: 10px 0">
                            <i class="fa fa-shower"></i> Mulai
                        </button>
                        <!-- <button @click="questionView = 'essayQuestion'" class="btn btn-success btn-lg" style="margin: 10px 0">
                            <i class="fa fa-road"></i> Essay
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <component :is="questionView" :lecture="selectedLecture" :classKey="classKey" :nipd="nipd" :token="token"></component>
        </div>
    </div>
</template>

<script>
import multipleQuestion from './CreateMultipleQuestion';

export default {

    props: ['listlectures', 'nipd', 'token'],
    data () {
        return {
            lectures: [],
            selectedLecture: 0,
            questionView: '',
            classKey: '',
        }
    },
    created () {
        this.lectures = [...this.listlectures];
        this.classKey = this.lectures[0].class_key;
    },
    components: {
        multipleQuestion: multipleQuestion,
    }
}
</script>

<style>

</style>
