<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div v-if="!isDone" class="card" style="margin-top:60px;padding:40px 30px">
                    <h4>Soal No {{ numbers }}</h4>
                    <hr>
                    <div class="form-group">
                        <label>Soal</label>
                        <textarea v-model="item.question" class="form-control" style="height: 100px !important;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Pilhan A</label>
                        <input v-model="item.a" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Pilhan B</label>
                        <input v-model="item.b" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Pilhan C</label>
                        <input v-model="item.c" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Pilhan D</label>
                        <input v-model="item.d" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Kunci Jawaban</label>
                        <br>
                        <div class="form-check form-check-inline">
                          <input v-model="item.key" class="form-check-input" type="radio" value="a">
                          <label class="form-check-label">A</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input v-model="item.key" class="form-check-input" type="radio" value="b">
                          <label class="form-check-label">B</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input v-model="item.key" class="form-check-input" type="radio" value="c">
                          <label class="form-check-label">C</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input v-model="item.key" class="form-check-input" type="radio" value="d">
                          <label class="form-check-label">D</label>
                        </div>
                    </div>

                    <div v-show="errors" class="alert alert-danger">
                        {{ errors }}
                    </div>

                    <div v-show="success" class="alert alert-info">
                        {{ success }}
                    </div>

                    <hr>
                    <div class="form-group">
                        <!-- <button v-if="index !== 0" @click="previous" class="btn btn-success">
                            <i class="fa fa-arrow-left"></i> sebelumnya
                        </button> -->
                        <button @click="next" class="btn btn-success">
                            <i class="fa fa-arrow-right"></i> selanjutnya
                        </button>
                        <button @click="submit" class="btn btn-primary pull-right" title="klik apabila selesai membuat soal">
                            <i class="fa fa-paper-plane"></i> Selesai
                        </button>
                    </div>
                </div>

                <div v-else>
                    <div class="card" style="margin-top:60px;padding:40px 30px">
                        <a :href="'/u/kelas/' + classKey" class="btn btn-primary btn-lg" style="margin: 10px 20px">
                            <i class="fa fa-institution"></i> Kembali
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['lecture', 'classKey', 'nipd', 'token'],
    data () {
        return {
            index: 0,
            questions: [],
            lectureId: this.lecture,
            item: {
                question: '',
                a: '',
                b: '',
                c: '',
                d: '',
                key: '',
            },
            success: null,
            errors: null,
            isDone: false,
        }
    },
    created () {

    },
    methods: {
        previous: function () {
            this.index -= 1;
            let currentQuestion = this.questions[this.index];
            this.item.question = currentQuestion.question;
            this.item.a = currentQuestion.a;
            this.item.b = currentQuestion.b;
            this.item.c = currentQuestion.c;
            this.item.d = currentQuestion.d;
            this.item.key = currentQuestion.key;
        },

        next: function () {
            if (this.index >= this.questions.length) {
                if (this.validate()) {
                    this.index++;
                    this.questions.push({...this.item});
                    this.reset();
                    this.errors = null;
                    this.success = 'Soal nomor ' + this.index + ' berhasil disimpan';
                    setTimeout(() => {
                        this.success = null;
                    }, 2000);
                } else {
                    this.errors = 'Semua kolom harus diisi!';
                }
            } else {
                this.current(this.index);
                this.index++;
            }
        },

        current: function (index) {
            let currentQuestion = this.questions[index];
            this.item.question = currentQuestion.question;
            this.item.a = currentQuestion.a;
            this.item.b = currentQuestion.b;
            this.item.c = currentQuestion.c;
            this.item.d = currentQuestion.d;
            this.item.key = currentQuestion.key;
        },

        reset: function () {
            this.item.question = '';
            this.item.a = '';
            this.item.b = '';
            this.item.c = '';
            this.item.d = '';
            this.item.key = '';
        },

        validate: function () {
            if (this.item.question !== '' && this.item.a !== '' && this.item.b !== '' && this.item.c !== '' && this.item.d !== '' && this.item.key !== '') {
                return true;
            }
            return false;
        },

        submit: function () {
            if (this.validate()) {
                this.index++;
                this.questions.push({...this.item});
                this.reset();
                this.errors = null;
            }

            let data = this.questions.map(item => {
                return {
                    user_nipd: this.nipd,
                    class_key: this.classKey,
                    lecture_id: this.lectureId,
                    question: item.question,
                    choice_a: item.a,
                    choice_b: item.b,
                    choice_c: item.c,
                    choice_d: item.d,
                    key: item.key
                }
            });

            axios.post('/u/soal/multiple', data, {
                headers: {
                    Authorization: 'Bearer ' + this.token
                }
            })
            .then(res => {
                swal('OK!', res.data.message, 'success');
                this.isDone = true;
            })
            .catch(err => {
                swal('Maaf!', 'Terjadi kesalan pada server', 'error');
            });
        }
    },
    computed: {
        numbers () {
            return this.index + 1;
        }
    }
}
</script>

<style>

</style>
