<template>
    <div class="row">
        <div class="col-sm-3">
            <input v-model="key" type="text" class="form-control input-flat" placeholder="kode kelas">
        </div>
        <button @click.prevent="submit" class="btn btn-primary">{{ button }}</button>
    </div>
</template>

<script>
export default {
    props: ['token'],
    data () {
        return {
            key: '',
            button: 'Gabung',
        }
    },
    methods: {
        submit () {
            if (this.key !== '') {
                let data = { key: this.key };
                axios.post('/u/gabung-kelas', data, {
                    headers: { Authorization: 'Bearer ' + this.token }
                })
                    .then((response) => {
                        this.$emit('joinedClass', response.data);
                        swal('OK!', 'Kamu tergabung dengan kelas!', 'success');
                    })
                    .catch((error) => {
                        let statusCode = error.response.status;
                        if (statusCode === 403) {
                            swal('Maaf!', error.response.data.message, 'error');
                        } else if (statusCode === 404) {
                            swal('Maaf!', error.response.data.message, 'error');
                        }
                    });
            } else {
                swal('Maaf!', 'Kode kelas tidak boleh kosong!', 'error');
            }
        }
    }
}
</script>

<style>

</style>
