<template>
    <div class="container-fluid">

        <join-class :token="token" @joinedClass="addClass($event)"></join-class>

        <div class="row">
            <div class="col-md-3" v-for="classroom in classrooms" :key="classroom.key">
                <a :href="url + classroom.key" :title="classroom.name">
                    <div class="card box-class p-30">
                        <div class="media">
                            <h2 :class="'prefix-' + classroom.name.toLowerCase().substr(0, 1)">
                                {{ classroom.name.substr(0, 1) }}
                            </h2>
                            <h4 class="m-b-0">{{ classroom.name }}</h4>
                        </div>
                    </div>
                </a>
            </div>
            <p v-if="! classrooms.length" class="lead p-info-nothing">Belum ada kelas.</p>
        </div>
    </div>
</template>

<script>
import JoinClass from './FormJoinClass.vue'

export default {
    props: ['token'],
    data () {
        return {
            url: 'http://localhost:8000/u/kelas/',
            classrooms: [],
        }
    },
    methods: {
        addClass (data) {
            this.classrooms.push(data.classroom);
        }
    },
    created () {
        axios.get('/u/data-kelas')
                .then((response) => {
                    this.classrooms = response.data.classes
                }).catch((error) => console.log(error))
    },
    components: {
        'join-class': JoinClass
    }
}
</script>

<style>

</style>
